[submodule "Externals/asi-http-request"]
	path = Externals/asi-http-request
	url = https://github.com/pokeb/asi-http-request.git
[submodule "Externals/JSONKit"]
	path = Externals/JSONKit
	url = git@github.com:UpBra/JSONKit.git
